Repository google/DirectXShaderCompiler, pull requests merged in 2018-05, with the labels that each got.

#182 [linux-port] Roll back PR #171.
  .travis.yml
  appveyor.yml
  lib/Support/CommandLine.cpp
Labels: linux-port

#185 [linux-port] Implement CA2W/CW2A conversion (#172)
  include/dxc/Support/dxcapi.use.h
  include/llvm/Support/WinMacros.h
  include/llvm/Support/WinTypes.h
  lib/DxcSupport/FileIOHelper.cpp
  lib/DxcSupport/dxcapi.use.cpp
  tools/clang/lib/Sema/SemaHLSL.cpp
  tools/clang/tools/dxc/dxc.cpp
  tools/clang/tools/libclang/dxcrewriteunused.cpp
Labels: linux-port

#179 [linux-port] Fix DiagnosticPrinter use of std::hex
  include/llvm/IR/DiagnosticPrinter.h
  include/llvm/Support/raw_ostream.h
  lib/HLSL/DxilRootSignature.cpp
  lib/IR/DiagnosticPrinter.cpp
  lib/Support/raw_ostream.cpp
Labels: linux-port

#192 [linux-port] Fix a handful of warnings in headers
  include/dxc/HLSL/DxilConstants.h
  include/dxc/Support/Global.h
  tools/clang/include/clang/AST/HlslTypes.h
  tools/clang/include/clang/AST/Type.h
  tools/clang/lib/CodeGen/CGHLSLMS.cpp
Labels: linux-port

#200 [linux-port] fix refcounting on imalloc and others
  include/llvm/Support/WinMacros.h
  include/llvm/Support/WinTypes.h
  lib/DxcSupport/FileIOHelper.cpp
  lib/DxcSupport/dxcmem.cpp
Labels: bug, linux-port

#193 [linux-port] Get SPIRV CodeGen tests running.
  .travis.yml
  appveyor.yml
  include/dxc/Support/Global.h
  include/dxc/Support/exception.h
  include/llvm/Support/WinResults.h
  lib/DxcSupport/dxcmem.cpp
  tools/clang/unittests/SPIRV/CMakeLists.txt
  tools/clang/unittests/SPIRV/FileTestUtils.cpp
Labels: linux-port

#201 [linux-port] Thread-safe increment/decrement
  include/dxc/Support/microcom.h
  include/llvm/Support/WinMacros.h
  lib/DxcSupport/FileIOHelper.cpp
  tools/clang/tools/dxr/CMakeLists.txt
  tools/clang/unittests/HLSL/CompilationResult.h
  tools/clang/unittests/HLSL/HlslTestUtils.h
  tools/clang/unittests/HLSLHost/CMakeLists.txt
Labels: linux-port

#205 [linux-port] fix macros to be consistent with Win.
  include/llvm/Support/WinMacros.h
  include/llvm/Support/WinTypes.h
Labels: linux-port

#225 [linux-port] Remove unused from HLSL code
  lib/HLSL/DxilDebugInstrumentation.cpp
  lib/HLSL/DxilGenerationPass.cpp
  lib/HLSL/DxilRootSignature.cpp
  lib/HLSL/DxilValidation.cpp
  lib/HLSL/HLMatrixLowerPass.cpp
  lib/HLSL/HLModule.cpp
  lib/HLSL/HLOperationLower.cpp
  lib/HLSL/HLSignatureLower.cpp
  lib/IR/LegacyPassManager.cpp
  lib/IR/Verifier.cpp
  lib/Support/CommandLine.cpp
  lib/Support/Timer.cpp
  lib/Transforms/IPO/MergeFunctions.cpp
  lib/Transforms/Scalar/ScalarReplAggregatesHLSL.cpp
  tools/clang/lib/AST/ASTContextHLSL.cpp
  tools/clang/lib/AST/ExprConstant.cpp
  tools/clang/lib/AST/HlslTypes.cpp
  tools/clang/lib/CodeGen/CGExprAgg.cpp
  tools/clang/lib/CodeGen/CGExprCXX.cpp
  tools/clang/lib/CodeGen/CGHLSLMS.cpp
  tools/clang/lib/Parse/HLSLRootSignature.cpp
  tools/clang/lib/Parse/ParseDecl.cpp
  tools/clang/lib/SPIRV/DeclResultIdMapper.cpp
  tools/clang/lib/SPIRV/SPIRVEmitter.cpp
  tools/clang/lib/SPIRV/TypeTranslator.cpp
  tools/clang/lib/Sema/SemaExprObjC.cpp
  tools/clang/lib/Sema/SemaHLSL.cpp
  tools/clang/lib/Sema/SemaOpenMP.cpp
  tools/clang/tools/dxcompiler/dxcdisassembler.cpp
Labels: linux-port

#221 [linux-port] Scalar initialization warnings
  include/dxc/HLSL/DxilSignatureAllocator.h
  lib/HLSL/DxilContainerAssembler.cpp
  lib/HLSL/HLMatrixLowerPass.cpp
  tools/clang/lib/Sema/SemaHLSL.cpp
Labels: linux-port

#213 [linux-port] Fix DXASSERT warnings
  include/dxc/Support/Global.h
  lib/HLSL/DxilGenerationPass.cpp
  lib/HLSL/DxilSignatureElement.cpp
  lib/HLSL/HLMatrixLowerPass.cpp
  lib/HLSL/HLModule.cpp
  lib/HLSL/HLOperationLower.cpp
  lib/HLSL/HLSignatureLower.cpp
  lib/Transforms/Scalar/ScalarReplAggregatesHLSL.cpp
  tools/clang/lib/CodeGen/CGHLSLMS.cpp
  tools/clang/unittests/HLSL/ExecutionTest.cpp
  tools/clang/unittests/HLSL/ShaderOpTest.cpp
Labels: linux-port

#211 [linux-port] Fix preprocessor warnings
  lib/HLSL/HLOperations.cpp
  tools/clang/lib/CodeGen/CGClass.cpp
  tools/clang/lib/Frontend/FrontendAction.cpp
  tools/clang/lib/Sema/SemaChecking.cpp
  tools/clang/tools/dxcompiler/dxcfilesystem.cpp
  tools/clang/tools/dxcompiler/dxcutil.cpp
Labels: linux-port

#212 [linux-port] Dummy access to unused variables
  include/llvm/Support/WinMacros.h
  include/llvm/Support/WinTypes.h
  lib/HLSL/ComputeViewIdState.cpp
  lib/HLSL/DxilGenerationPass.cpp
  lib/HLSL/DxilOperations.cpp
  lib/HLSL/DxilValidation.cpp
  lib/HLSL/HLSignatureLower.cpp
  tools/clang/include/clang/Frontend/CompilerInstance.h
  tools/clang/lib/AST/Decl.cpp
  tools/clang/lib/Sema/SemaChecking.cpp
  tools/clang/lib/Sema/SemaDeclObjC.cpp
  tools/clang/lib/Sema/SemaHLSL.cpp
Labels: linux-port

#209 [linux-port] Correct conditional groupings
  lib/DxcSupport/dxcapi.use.cpp
  lib/HLSL/DxilOperations.cpp
  lib/HLSL/DxilValidation.cpp
  lib/HLSL/HLModule.cpp
  lib/Transforms/IPO/PassManagerBuilder.cpp
  lib/Transforms/Scalar/ScalarReplAggregatesHLSL.cpp
  tools/clang/lib/AST/DeclPrinter.cpp
  tools/clang/lib/CodeGen/CGCall.cpp
  tools/clang/lib/CodeGen/CodeGenModule.cpp
  tools/clang/lib/Lex/LiteralSupport.cpp
  tools/clang/lib/Lex/TokenLexer.cpp
  tools/clang/lib/Parse/ParseExpr.cpp
  tools/clang/lib/Parse/ParseTemplate.cpp
  tools/clang/lib/Parse/Parser.cpp
  tools/clang/lib/SPIRV/DeclResultIdMapper.cpp
  tools/clang/lib/SPIRV/SPIRVEmitter.cpp
  tools/clang/lib/SPIRV/TypeTranslator.cpp
  tools/clang/lib/Sema/SemaHLSL.cpp
  tools/clang/lib/Sema/SemaOverload.cpp
Labels: linux-port

#226 [linux-port] Evade unused in LLVM code
  lib/Analysis/ConstantFolding.cpp
  lib/DxcSupport/dxcapi.use.cpp
  lib/IR/AsmWriter.cpp
  lib/IR/AutoUpgrade.cpp
  lib/IR/DiagnosticInfo.cpp
  lib/IR/Function.cpp
  lib/IR/LegacyPassManager.cpp
  lib/ProfileData/CoverageMappingReader.cpp
  lib/Support/APFloat.cpp
  lib/Support/CommandLine.cpp
  lib/Support/GraphWriter.cpp
  lib/Transforms/IPO/PassManagerBuilder.cpp
  lib/Transforms/InstCombine/InstCombineCalls.cpp
  lib/Transforms/Utils/SimplifyCFG.cpp
  tools/clang/lib/Basic/Targets.cpp
  tools/clang/lib/CodeGen/CGCall.cpp
  tools/clang/lib/CodeGen/CGCleanup.cpp
  tools/clang/lib/CodeGen/CGDebugInfo.cpp
  tools/clang/lib/CodeGen/CGExprScalar.cpp
  tools/clang/lib/CodeGen/CodeGenModule.cpp
  tools/clang/lib/CodeGen/ItaniumCXXABI.cpp
  tools/clang/lib/Frontend/ASTUnit.cpp
  tools/clang/lib/Frontend/CompilerInstance.cpp
  tools/clang/lib/Frontend/CompilerInvocation.cpp
  tools/clang/lib/Parse/ParseStmtAsm.cpp
  tools/clang/lib/Sema/SemaChecking.cpp
  tools/clang/lib/Sema/SemaDeclObjC.cpp
  tools/clang/lib/Sema/SemaExceptionSpec.cpp
  tools/clang/lib/Sema/SemaExpr.cpp
  tools/clang/lib/Sema/SemaExprObjC.cpp
  tools/clang/lib/Sema/SemaTemplateDeduction.cpp
  tools/clang/tools/libclang/CIndex.cpp
  utils/TableGen/FixedLenDecoderEmitter.cpp
Labels: linux-port

#229 [linux-port] Remove "SPIRV Change Starts/Ends"
  CMakeLists.txt
  cmake/modules/AddLLVM.cmake
  cmake/modules/HandleLLVMOptions.cmake
  tools/clang/lib/Sema/CMakeLists.txt
  tools/clang/tools/dxc/CMakeLists.txt
  tools/clang/tools/dxcompiler/CMakeLists.txt
Labels: linux-port

#219 [linux-port] Fix static function header warnings
  include/llvm/Support/WinFunctions.h
  include/llvm/Support/WinTypes.h
  lib/DxcSupport/dxcmem.cpp
  lib/Support/CMakeLists.txt
  lib/Support/WinFunctions.cpp
  tools/clang/tools/dxc/dxc.cpp
Labels: linux-port

#231 [linux-port] de-const variables not used as const
  include/dxc/HLSL/DxilRootSignature.h
Labels: linux-port

#224 [linux-port] Remove unused class components
  lib/HLSL/DxilGenerationPass.cpp
  tools/clang/lib/Parse/HLSLRootSignature.cpp
  tools/clang/lib/Parse/HLSLRootSignature.h
  tools/clang/lib/SPIRV/DeclResultIdMapper.h
  tools/clang/lib/SPIRV/GlPerVertex.cpp
  tools/clang/lib/SPIRV/GlPerVertex.h
  tools/clang/tools/dxcompiler/dxcompilerobj.cpp
Labels: linux-port

#233 [linux-port] Fix spirv test warnings
  external/CMakeLists.txt
  external/GTestConfig.cmake
  tools/clang/unittests/SPIRV/DecorationTest.cpp
  tools/clang/unittests/SPIRV/ModuleBuilderTest.cpp
Labels: enhancement, linux-port

#235 [linux-port] Cross-platform critical section
  include/llvm/Support/WinMacros.h
  tools/clang/tools/dxcompiler/dxillib.cpp
Labels: linux-port

#234 [linux-port] Use existing infra for debug messages.
  lib/Support/CommandLine.cpp
  lib/Support/Debug.cpp
Labels: linux-port
